<%= stylesheet_link_tag 'questions', :media => "all" %>

<div class="card my-5">
  <div class="card-body">
    <div class="card-head">
      <h2><strong>お題</strong></h2>
    </div>
    <p>
      <div class="card-title card-flame title-box">
        <%= @question.q_title %>
      </div>
    </p>
    <p>
      <div class="card-text text-box">
        <%= @question.q_description %>
      </div>
    </p>
    <p>
      <% if logged_in? %>
        <% if Evaluation.exists?(user_id: current_user.id, question_id: @question.id) %>
          <%= form_with model:[@question, @evaluation], url: question_evaluations_path(@question), local: true ,method: :patch do |f| %>
            <%= f.label :評価 %>
            <div id="evaluate_stars" data-score="<%= @evaluation.rate %>"></div>
          <% end %>
        <% else %>
          <%= form_with model:[@question, @evaluation], url: question_evaluations_path(@question), local: true ,method: :post do |f| %>
            <%= f.label :評価 %>
            <div id="evaluate_stars_new"></div>
            <div class="actions">
              <%= f.submit "評価する"%>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </p>
    <p>
      <div class="card-footer">
        ととのえし者：<%= @question.user.name %>
      </div>
    </p>
  </div>
</div>

<script>
  $('#evaluate_stars').raty({
    readOnly: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    scoreName: 'evaluation[rate]',
  });

  $('#evaluate_stars_new').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    scoreName: 'evaluation[rate]',
    score: 0,
  });
</script>